.value-cell {
    width: 20px;
    height: 2em;
    background: red;
    display: inline-block;
}

.error {
    background: #ff8888;
    border: solid 1px red;
    padding: 5px;
}

.paginator .summary input {
    width: 2em;
}

.virtualized-grid {
    height: 15rem;
    overflow-y: auto;
}